.checkout {
  display: flex;
  background-color: white;
  height: max-content;
  position: absolute;
  top: 60px;
  min-width: 320px;
}

.checkout > div {
  margin: 20px;
  min-width: 320px;
}

.checkout__ad {
  width: 100%;
  margin-bottom: 10px;
}

.checkout__title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.checkout__subtotal {
  position: -webkit-sticky;
  position: sticky;
  top: 10%;
  right: 40px;
  align-self: flex-start;
}

@media only screen and (max-width: 767px) {
  .checkout {
    flex-direction: column;
  }

  .checkout__subtotal {
    align-self: auto;
    margin-top: 10px;
  }

  .checkout__title {
    text-align: center;
    margin-right: 0;
    font-size: 1.17em;
  }
}
