.home {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1500px;
  min-width: 320px;
}

.home__toast-container {
  top: 8%;
}

.home__container {
  min-width: 320px;
  position: relative;
}

.home__rows {
  position: absolute;
  top: 250px;
}

.home__row {
  display: flex;
  z-index: 1;
  margin: 0 5px;
}

@media only screen and (min-width: 1200px) and (max-width: 1500px) {
  .home__rows {
    top: 200px;
  }
}

/* Large Screens */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .home__rows {
    top: 190px;
  }
}

/* Medium Screens */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .home__rows {
    top: 150px;
  }
}

/* Small Screens */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .home__rows {
    top: 130px;
  }

  .home__row {
    flex-wrap: wrap;
  }
}

/* X-Small Screens */
@media only screen and (max-width: 576px) {
  .home__rows {
    top: 120px;
  }

  .home__row {
    flex-wrap: wrap;
  }
}
