.orders {
  margin: 0 auto;
  max-width: 920px;
  height: 80vh;
  width: 90%;
}

.orders__container {
  min-width: 320px;
}

.orders__title {
  font-size: 28px;
  font-weight: 500;
  margin: 40px auto;
  width: 90%;
}

.orders__empty {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 70vh;
}

.orders__empty-x {
  position: absolute;
  z-index: 1;
  transform: translate(-87%, -14%);
}

.orders__empty-text {
  margin-top: 30px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}
