.payment {
  background-color: #ffffff;
}

.payment__container {
  min-height: 92vh;
}

.payment__container > h1 {
  text-align: center;
  padding: 10px;
  font-weight: 400;
  background-color: rgb(234, 237, 237);
  border-bottom: 1px solid lightgray;
}

.payment__container > h1 a {
  color: #007185;
}

.payment__section {
  display: flex;
  padding: 20px;
  margin: 0 auto;
  border-bottom: 1px solid lightgray;
  max-width: 800px;
}

.payment__section:last-child {
  border-bottom: 0;
}

.payment__title {
  flex: 0.2;
  padding-right: 2rem;
}

.payment__address,
.payment__content,
.payment__details {
  flex: 0.8;
}

.payment__items > .checkout-product:first-child {
  margin-top: 10px;
}

.payment__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.payment__form > button {
  padding: 5px 20px;
  border-radius: 0.2rem;

  /*  */
  background: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  height: 30px;
  width: 50%;
}

.payment__form > button:active {
  border-color: #a88734 #9c7e31 #846a29;
  box-shadow: 0 1px 1px black;
}

.payment__form > .disabled {
  background-color: lightgray;
  border-color: lightgray;
  color: gray;
}

.payment__form > .disabled:hover {
  cursor: default;
}

.payment__stripe,
.payment__form {
  border: 0.5px solid lightgray;
  border-radius: 0.5rem;
}

.payment__stripe {
  padding: 10px;
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  .payment__form > button {
    width: 40%;
  }
}

@media only screen and (max-width: 576px) {
  .payment__section {
    flex-direction: column;
  }

  .payment__title {
    text-align: center;
    padding-right: 0;
    margin-bottom: 20px;
  }

  .payment__form {
    flex-direction: column;
    text-align: center;
  }

  .payment__form > button {
    margin-top: 10px;
    width: auto;
  }
}
