.register {
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register__logo {
  margin-top: 20px;
  margin-bottom: 20px;
  object-fit: contain;
  width: 100px;
  margin: 20px auto;
}

.register__container {
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px;
}

.register__container > h1 {
  font-weight: 500;
  margin-bottom: 20px;
}

.register__container > form > h5 {
  margin-bottom: 5px;
}

.register__container > form > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  width: 98%;
}

.register__container > p {
  margin-top: 15px;
  font-size: 12px;
}

.register__register-button {
  background: linear-gradient(rgb(254, 230, 176), rgb(238, 186, 55))
    rgb(254, 230, 176);
  border: 0.2px solid rgb(238, 186, 55);
  width: 100%;
  height: 30px;
  width: 100%;
  height: 30px;
  margin-top: 10px;
  padding: 5px 20px;
  border-radius: 0.2rem;
  color: #111;
}

.register__register-button:hover {
  background: rgb(238, 186, 55);
}

.register__sign-in {
  border-top: 1px solid lightgray;
  padding-top: 1rem;
  text-align: center;
}

.register__sign-in-link {
  color: blue;
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}
