.checkout-product {
  display: flex;
  margin: 20px 0;
}

.checkout-product__info {
  padding-left: 20px;
}

.checkout-product__info > button {
  margin-top: 10px;

  background: linear-gradient(rgb(254, 230, 176), rgb(238, 186, 55))
    rgb(254, 230, 176);
  border: 0.2px solid rgb(238, 186, 55);
  padding: 5px 20px;
  border-radius: 0.2rem;
  color: #111;
}

.checkout-product__info > button:hover {
  background: rgb(238, 186, 55);
}

.checkout-product__info > button:active {
  border-color: #a88734 #9c7e31 #846a29;
  box-shadow: 0 1px 1px black;
}

.checkout-product__image {
  display: block;
  object-fit: contain;
  min-width: 180px;
  min-height: 180px;
}

.checkout-product__rating {
  display: flex;
}

/* Toast Styles */
.Toastify__close-button {
  color: white;
}

.checkout-product__toast {
  display: flex;
}

.checkout-product__toast-icon {
  display: flex;
  align-items: center;
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid red;
}

/* X-Small Screens */
@media only screen and (max-width: 576px) {
  .checkout-product {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 10px;
  }

  .checkout-product__title {
    margin: 10px 0 5px 0;
  }

  .checkout-product__info {
    padding-left: 0;
  }

  .checkout-product__rating {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
  }
}
