.image {
  width: 100%;
  margin-bottom: -350px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  position: relative;
}

.image__photo {
  max-width: 100%;
  height: auto;
  width: auto;
}

.image__arrow-left {
  position: absolute;
  top: 18%;
  left: 5%;
}

.image__arrow-right {
  position: absolute;
  top: 18%;
  right: 5%;
}
