.modal {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  z-index: 2;
  overflow: hidden;
}

.modal__container {
  margin: 50px auto;
}

.modal__content {
  width: auto;
  margin: 50px 20px;
  color: white;
  overflow: hidden;
  font-size: 2rem;
}
