.modal {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  z-index: 2;
  overflow: hidden;
}

.modal:active {
  animation: modalClosed 0.5s linear;
}

.modal__container {
  position: absolute;
  display: block;
  top: 100px;
  left: 25px;
}

.modal__content {
  width: auto;
  margin: 50px 20px;
  color: white;
  overflow: hidden;
  font-size: 2rem;
}
