.notification {
  background-color: #444;
  color: white;
  padding: 16px;
  margin-bottom: 0.5rem;
  border-radius: 1rem;
  animation: moveLeft 1s ease-in-out;
}

@keyframes moveLeft {
  from {
    transform: translateX(110%);
  }
}
