.notification {
  background-color: #444;
  color: white;
  padding: 0.5rem 1rem 1rem 1rem;
  margin-bottom: 0.5rem;
  border-radius: 1rem;
  animation: moveLeft 1s ease-in-out;
}

.notification__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.notification__title {
  font-weight: 900;
}

.notification__remove {
  font-size: 1rem;
}

.notification__message {
}

@keyframes moveLeft {
  from {
    transform: translateX(110%);
  }
}
