.order-header {
  display: flex;
  background-color: #e0e0e0;
  padding: 20px 40px;
  text-transform: uppercase;
}

.order-header__detail {
  display: flex;
  width: 50%;
}

.order-header__detail > div {
  margin-right: 50px;
}

.order-header__number {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.order-header__text {
  font-size: 12px;
}

.order-header__content {
  font-size: 14px;
  text-transform: none;
}

@media only screen and (max-width: 768px) {
  .order-header {
    padding: 20px;
    flex-direction: column;
  }

  .order-header__detail {
    justify-content: space-between;
    width: auto;
    margin-bottom: 10px;
  }

  .order-header__detail > div {
    margin-right: 0;
  }

  .order-header__text {
    font-size: 11px;
  }

  .order-header__content {
    font-size: 14px;
  }

  .order-header__number {
    width: auto;
    justify-content: left;
  }
}
