.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  background-color: white;
  z-index: 1;
}

.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.product > button {
  background: linear-gradient(rgb(254, 230, 176), rgb(238, 186, 55))
    rgb(254, 230, 176);
  border: 0.2px solid rgb(238, 186, 55);
  padding: 5px 20px;
  border-radius: 0.2rem;
  color: #111;
}

.product > button:hover {
  background: rgb(238, 186, 55);
}

.product > button:active {
  border-color: #a88734 #9c7e31 #846a29;
  box-shadow: 0 1px 1px black;
}

.product__price {
  margin-top: 5px;
}

.product__info {
  height: 100px;
  margin-bottom: 15px;
}
