.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 100px;
  padding: 20px;
  background-color: #f3f3f3;
  border: 1px solid #dddddd;
  border-radius: 3px;
}

.subtotal__gift {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.subtotal__gift > input {
  margin-right: 5px;
}

.subtotal > .disabled {
  background: none;
  color: darkgray;
  border-color: darkgray;
}

.subtotal > .disabled:hover {
  background: none;
  cursor: default;
}

.subtotal > button {
  background: linear-gradient(rgb(254, 230, 176), rgb(238, 186, 55))
    rgb(254, 230, 176);
  border: 0.2px solid rgb(238, 186, 55);
  padding: 5px 20px;
  border-radius: 0.2rem;
  color: #111;
}

.subtotal > button:hover {
  background: rgb(238, 186, 55);
}

.subtotal > button:active {
  border-color: #a88734 #9c7e31 #846a29;
  box-shadow: 0 1px 1px black;
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .subtotal {
    width: 250px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .subtotal {
    flex-direction: row;
    height: auto;
    width: auto;
  }
}

@media only screen and (max-width: 576px) {
  .subtotal {
    width: auto;
    align-items: center;
  }

  .subtotal > button {
    width: 60%;
  }
}
